body{
    
  margin: 0px;
  padding: 0;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;

}

#world{
  background: linear-gradient(#53cacf,#8c96bf,#8c96bf);
  position:absolute;
  width:100%;
  height:100%;
  overflow:hidden;
}
  button {
    width: 200px;
    height: 70px;
    line-height: 50px;
    font-weight: bold;
    padding: 10 40px;
    /* background: #124429;*/
    z-index: 3;
    background: #4e284f;
    border-radius : 4px;
    border-color: #391930;
    font-family: 'Macondo', cursive;
    font-size: 40px;
    color         : #e4d9c9;
    box-shadow    : 0 5px #391930 ;
  }
  button:hover {
   /* background: #154f30; */
   background: #391930;
  }


 h1 {
  font-family: 'Macondo', cursive;
  font-size: 100px;
  /*color  : #124429;*/
  color:#4e284f;
  font-weight: bold;
  position: absolute;
  z-index     : 3;
  width: 100%;
  text-align  : center;
  
  text-shadow:5px 5px #391930 ;

  }

  caption{
    font-family: 'Macondo', cursive;
    z-index     : 3;
    position    : absolute;
    font-size   : 18px;
    bottom      : 0;
    color       : #e4d9c9;
    width       : 100%;
    padding     : 30px 0 30px 0;
    text-align  : center;
    background  : #1c2327;
    line-height : 26px;

  }


  .stars {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    z-index: 2;
  }