
    
  button {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 70px;
    line-height: 60px;
    font-weight: bold;
    padding: 0 0px;
    background: #e4d9c9;
    border-radius : 4px;
    border-color: #c0af95;
    font-family: 'Macondo', cursive;
    color         : #101820FF;
    box-shadow    : 0 5px #e0d1c3;
  }
  button:hover {
    background: #e0d1c3;
  }
  
 h1 {
  font-family: 'Macondo', cursive;
  font-size: 100px;
  color  : #e4d9c9;
  font-weight: bold;
  position: absolute;
  z-index     : 3;
  width: 100%;
  text-align  : center;
  }

  caption{
    font-family: 'Macondo', cursive;
    z-index     : 3;
    position    : absolute;
    font-size   : 18px;
    bottom      : 0;
    color       : #101820FF;
    width       : 100%;
    padding     : 30px 0 30px 0;
    text-align  : center;
    background  : #e0d1c3;
    line-height : 26px;

  }


  